@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;


}

.shadow-1 {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.05);
}

.btn-1 {
    border-radius: 23px;
    background: #2C49FE;
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    color: #FFF;
    font-family: 'poppins', sans-serif;
}

.btn-1:hover {
    background-color: whitesmoke;
    color: #2C49FE;
    font-family: 'poppins', sans-serif;
}

.font-1 {
    color: #2C49FE;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    /* 48.6px */
}

.font-2 {
    color: #01C8FF;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.font-3 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font-4 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    opacity: 0.6;

}

.font-5 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 72px */
}

.font-6 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 857px;
    opacity: 0.6;
    /* 24px */
}

.font-7 {
    color: #000;
    font-family: ' Poppins', sans-serif;
    opacity: 0.6;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.font-8 {
    width: 111px;
    height: 25px;

    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.font-9 {
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 163px;
    height: 55px;
    flex-shrink: 0;
}

.font-10 {
    color: #5E5F66;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;

}

.font-11 {
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
}

.font-12 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 72px */
}

.outline {
    outline: 0;
    border: none;
}

.font-13 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    opacity: 0.6;
}

.card-1 {
    max-width: 322px;
    height: 138px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.10);
}

.card-2 {
    max-width: 171px;
    height: 138px;
    flex-shrink: 0;
    border-radius: 20px;

    background: #EAEDFF;

}

.line-1 {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: #000;
}

.box-3 {
    width: 100%;
    height: 70px;
    border-radius: 35px;
    border: 1px solid #9CA1BE;
    background: #FFF;
    padding: 5px;
}

.btn-3 {
    display: flex;
    justify-content: right;

    height: 56px;
    padding: 11px 28px;
    gap: 10px;
    border-radius: 36px;
    background: #2C49FE;
    border: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 30px */
}

.btn-3:hover {
    background-color: whitesmoke;
    color: #2C49FE;
}

.box {
    display: flex;
    width: 100%;
    padding: 14px 20px 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0px 20px 20px 20px;
    background: #F1F2F5;
}

.box-4 {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #FFF;
    border: 1px solid gray;
    cursor: pointer;
}

.shadow-2 {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.10);

}

.pos-2 {
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.font-14 {
    color: #000;
    font-family: ' Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.card:hover {
    cursor: pointer;
}

svg {
    cursor: pointer;
}

.footer {
    cursor: pointer;
}

.font-15 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    /* 24px */
}

.font-16 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.font-17 {
    color: #000;
    font-family: ' Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.font18 {
    max-width: 553px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.font-19 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;

}

.font-20 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
}

.bor {
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
}

.font-21 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 346px;
}

.box-6 {
    width: 90px;
    height: 62px;
    flex-shrink: 0;
    background: rgba(45, 60, 174, 0.53);
}

.footer-text-2 {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 18px */
    width: 43px;
}

.footer-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-heading {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

input[type="checkbox"]:checked+.sm {
    position: fixed;
    right: 0;
}

.display {
    position: fixed;
    z-index: 3;
    right: 10px;
}

@media (min-width:992px) {

    .display {
        display: none;
    }
}

@media (max-width:1201px) {
    .md {
        font-size: 25px;
    }

}

@media (min-width:777px) {
    .lg-777 {
        flex-wrap: wrap;
    }

}

@media (max-width:992px) {

    .sm {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #FFFFFF;
        position: fixed;
        top: 0;
        right: -100%;
        gap: 30px;
        z-index: 1;
        transition: all 200ms linear;
    }


}


@media (max-width:768px) {
    .box-3 {
        width: 100%;
        height: 150px;

        flex-direction: column;
    }

}

@media (max-width:576px) {

    .font-1 {
        font-size: 32px;
    }

    .font-2 {
        font-size: 32px;
    }
}